.primary-title {
  color: $color-green;
  margin-bottom: 1rem;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}
.secondary-title {
  color: $color-dark-purple;
  margin-bottom: 0.6rem;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}
.secondary-title-2 {
  color: $color-dark-purple;
  margin-bottom: 1rem;

  font-family: Arial;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.primary-text {
  color: $color-dark-purple;
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.secondary-text {
  color: $color-dark-purple;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: justify;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media screen and(max-width:1441px) {
  .primary-title {
    font-size: $fs-lt-label;
    line-height: 24px;
  }
  .secondary-title,
  .secondary-title-2 {
    font-size: $fs-lt-label;
    line-height: 26px;
    margin-bottom: 0.5rem;
  }
  .secondary-title-2 {
    // font-size: $fs-tb-label;
  }
  .primary-text,
  .secondary-text {
    font-size: $fs-lt-text;
    line-height: 30px;
  }
  .secondary-text {
    // font-size: $fs-tb-text;
    // line-height: 30px;
  }
}
@media screen and(max-width:769px) {
  .primary-title {
    font-size: $fs-tb-label;
    line-height: 24px;
  }
  .secondary-title,
  .secondary-title-2 {
    font-size: $fs-tb-label;
    line-height: 26px;
    margin-bottom: 0.5rem;
  }
  .secondary-title-2 {
    // font-size: $fs-tb-label;
  }
  .primary-text,
  .secondary-text {
    font-size: $fs-tb-text;
    line-height: 30px;
  }
  .secondary-text {
    // font-size: $fs-tb-text;
    // line-height: 30px;
  }
}
