.banner {
  // padding-top: 20px;
  .banner-container {
    max-height: 630px;
    position: relative;
  }
  .banner-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 630px;
  }
}

@media only screen and(max-width: 577px) {
  .banner {
    .banner-btn {
      font-size: 10px;
    }
  }
}
