@mixin readMoreButton($breakpoint) {
  @if $breakpoint == "bigLaptop" {
    @media (min-width: 1600px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  @if $breakpoint == "mediumLaptop" {
    @media (min-width: 1440px) {
      font-size: 16px;
      line-height: 16px;
      padding: 10px;
    }
  }
  @if $breakpoint == "smallLaptop" {
    @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 20px;
      padding: 9px;
    }
  }
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
      padding: 8px;
    }
  }
  @if $breakpoint == "mobile" {
    @media (min-width: 360px) {
      font-size: 12px;
      line-height: 14px;
      padding: 8px;
    }
  }
}
