// @import "bourbon";

// Colors
$greenSeaweed: rgb(240, 6, 115);
$blueQueen: rgb(241, 111, 161);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: "Asap", sans-serif;

.login {
  overflow: hidden;
  background-color: $color-white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }

  &::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba($blueQueen, 0.6);
    animation: waves 7s infinite;
  }

  &::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 0.6);
    animation: waves 7s infinite;
  }

  > button {
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 120px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: $redFire;
    transition: background-color 300ms;
    &:hover {
      background-color: darken($redFire, 5%);
    }
  }
  a {
    text-decoration: none;
    color: rgba(white, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
}

@keyframes waves {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
