.pagination-bar-wrap {
  margin-top: 40px;
}
@media screen and(max-width:1440px) {
  .pagination-bar-wrap {
    .MuiPagination-ul {
      .MuiPaginationItem-icon {
        font-size: 2.5rem;
      }
      .MuiPaginationItem-root {
        font-size: 16px;
        height: 40px;
        min-width: 30px;
        padding: 0px 20px;
      }
    }
  }
}

@media screen and(max-width:768px) {
  .pagination-bar-wrap {
    .MuiPagination-ul {
      .MuiPaginationItem-icon {
        font-size: 1.5rem;
      }
      .MuiPaginationItem-root {
        font-size: 15px;
        height: 30px;
        min-width: 30px;
        padding: 0px 14px;
      }
    }
  }
}
