.media-slider {
  margin: 40px;
  padding: 0 70px;
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 35px;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  .slick-prev,
  .slick-next {
    height: 40px;
    width: 40px;
    &:before {
      font-size: 40px;
    }
  }
  .slick-slide {
    padding: 50px;
  }
}
@media screen and(max-width:1441px) {
  .media-slider {
    .slick-slide {
      padding: 10px 15px;
    }
  }
}
@media screen and(max-width:1025px) {
  .media-slider {
    margin: 30px 50px;
    padding: 0 30px;

    .slick-slide {
      padding: 20px;
    }
  }
}
@media screen and(max-width:769px) {
  .media-slider {
    margin: 20px;
    padding: 0 20px;
    .video-responsive {
      border-radius: 16px;
    }
    .slick-slide {
      padding: 20px;
    }
  }
}
