//WIDTH
$width-offcanvas: 250px;

// COLOR
$color-bg: #fef0ff;
$color-bg-slider: #f8cbdf;
$color-pink: #ff008e;
$color-light-purple: #d249cb;
$color-dark-purple: #a000a2;
$color-green: #00893d;

$color-bg-gradient: linear-gradient(180deg, #fef0ff 0%, #ffb9fd 100%);
$color-pink-purple-gradient: linear-gradient(180deg, #f402d8 0%, #ff008e 100%);
$color-green-gradient: linear-gradient(180deg, #0fdb16 0%, #026e02 100%);

$color-white: #ffffff;
$color-black: #333333;

$color-purple: #b0007d;

// FONT SIZE

/* MOBILE */
$fs-mb-label: 16px;
$fs-mb-text: 14px;

/* TABLET */
$fs-tb-label: 18px;
$fs-tb-text: 16px;

/* LAPTOP */
$fs-lt-label: 24px;
$fs-lt-text: 20px;

/* LAPTOP SMALL */
$fs-lt-s-label: 24px;
$fs-lt-s-text: 20px;

/* LAPTOP MEDIUM */
$fs-lt-m-label: 22px;
$fs-lt-m-text: 20px;
