.swiper-box {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      border-radius: 60px;
      text-align: center;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .slide-item {
        border-radius: inherit;
        width: 100%;
        background: #4526b1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 25px;
        text-align: center;
        cursor: pointer;
        .slide-label {
          position: relative;
          top: 80%;
          p {
            font-weight: 700;
            font-size: 36px;
            line-height: 45px;
            background: linear-gradient(180deg, #f402d8 0%, #ff008e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            -webkit-text-stroke: 0.5px white;
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgb(245 40 239 / 42%);
      margin: 0 13px !important;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: rgb(245 40 239);
      position: relative;
      &:after {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 50%;
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #ad73f9;
        overflow: visible;
      }
    }
  }
  @include breakpoint("mobile") {
    margin-top: -150px;
    height: 450px;
    .swiper {
      .swiper-slide {
        .slide-item {
          margin-bottom: 50px;
          height: calc(100% - 50px);
          .slide-label p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }
  @include breakpoint("tablet") {
    margin-top: -190px;
  }
  @include breakpoint("smallLaptop") {
    margin-top: -235px;
    height: 460px;
    .swiper {
      .swiper-slide {
        .slide-item {
          margin-bottom: 70px;
          height: calc(100% - 70px);
        }
      }
    }
  }
  @include breakpoint("mediumLaptop") {
    height: 530px;
    margin-top: -260px;
    .swiper {
      .swiper-slide {
        .slide-item {
          .slide-label p {
            font-size: 24px;
            line-height: 35px;
          }
        }
      }
    }
  }
  @include breakpoint("bigLaptop") {
    height: 660px;
    margin-top: -350px;
    .swiper {
      .swiper-slide {
        .slide-item {
          margin-bottom: 80px;
          height: calc(100% - 80px);
          .slide-label p {
            font-size: 36px;
            line-height: 45px;
          }
        }
      }
    }
  }
}
