.footer {
  margin-top: 50px;
  bottom: 0;
  position: relative;
  width: 100%;
  .information {
    background-color: $color-pink;
    color: $color-white;
    padding-top: 15px;

    .slogan {
      text-align: center;
      .innghieng {
        font-family: "UTM Dinh Tran";
        font-size: 60px;
        font-weight: 400;
        line-height: 85.63px;
      }
      .tuoitre {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 20.7px;
        margin-bottom: 1rem;
      }
      .bac {
        font-family: "OpenSans";
        font-size: 64px;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        line-height: 78.02px;
      }
    }
    .contact {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .contact-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.6px;
        margin-bottom: 1rem;
      }
      .contact-list {
        padding-left: 0;
        font-size: 20px;
        line-height: 30px;
        li {
          margin-bottom: 10px;
        }
        .contact-icon {
          padding-right: 10px;
        }
        .contact-item {
          .interact {
            cursor: pointer;
          }
        }
      }
      .icon {
        position: absolute;
        right: 20px;
        bottom: 10%;
        .facebook,
        .youtube {
          color: $color-white;
          margin-right: 10px;
          border: 2px solid white;
          svg,
          i {
            font-size: 40px;
          }
        }
        .facebook {
          background-color: blue;
        }
        .youtube {
          background-color: red;
        }
      }
    }
    @include breakpoint("mobile") {
      .slogan {
        .innghieng {
          font-size: 36px;
          line-height: 50px;
        }
        .tuoitre {
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 0;
        }
        .bac {
          font-size: 34px;
          line-height: 60px;
        }
      }
      .contact {
        .contact-title {
          font-size: 13px;
          line-height: 16px;
          margin-bottom: 0.6rem;
        }
        .contact-list {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 0.4rem;
        }
        .icon {
          position: relative;
          right: unset;
          bottom: unset;
          text-align: center;
          margin-bottom: 15px;
          .facebook,
          .youtube {
            height: 45px;
            width: 45px;
            svg,
            i {
              font-size: 35px;
            }
          }
        }
      }
    }
    @include breakpoint("tablet") {
      .slogan {
        .innghieng {
          font-size: 44px;
          line-height: 60px;
        }
        .tuoitre {
          font-size: 16px;
          line-height: 20.7px;
          margin-bottom: 0;
        }
        .bac {
          font-size: 40px;
          line-height: 78.02px;
        }
      }
      .contact {
        .contact-title {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0.6rem;
        }
        .contact-list {
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 0.4rem;
        }
        .icon {
          text-align: unset;
          margin-bottom: 0;
          position: absolute;
          right: 20px;
          bottom: 10%;
          .facebook,
          .youtube {
            height: 56px;
            width: 56px;
            svg,
            i {
              font-size: 40px;
            }
          }
        }
      }
    }
    @include breakpoint("smallLaptop") {
      .slogan {
        .innghieng {
          font-size: 44px;
          line-height: 60px;
        }
        .tuoitre {
          font-size: 16px;
          line-height: 20.7px;
          margin-bottom: 0;
        }
        .bac {
          font-size: 40px;
          line-height: 78.02px;
        }
      }
      .contact {
        .contact-title {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0.6rem;
        }
        .contact-list {
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 0.4rem;
        }
      }
    }
    @include breakpoint("mediumLaptop") {
      .slogan {
        .innghieng {
          font-size: 55px;
          line-height: 70px;
        }
        .tuoitre {
          font-size: 18px;
          line-height: 20.7px;
        }
        .bac {
          font-size: 58px;
          line-height: 78.02px;
        }
      }
      .contact {
        .contact-title {
          font-size: 19px;
          line-height: 25.6px;
        }
        .contact-list {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    @include breakpoint("bigLaptop") {
      .slogan {
        .innghieng {
          font-size: 60px;
          line-height: 85.63px;
        }
        .tuoitre {
          font-size: 18px;
          line-height: 20.7px;
        }
        .bac {
          font-size: 64px;
          line-height: 78.02px;
        }
      }
      .contact {
        .contact-title {
          font-size: 24px;
          line-height: 27.6px;
        }
        .contact-list {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .copyright {
    background-color: $color-purple;
    p {
      font-style: italic;
      text-align: center;
      color: $color-white;
      margin: 0.5rem 0;
    }
  }
}
